nav {
    background-color: #006EBE;
    li a,
    p {
        color: white !important;
        font-size: 22px;
    }
    a {
        text-align: center;
        text-decoration: none;
        transition: text-decoration 1s;
        border-bottom: 0px solid white;
    }
    a:hover {
        // border: 1px solid white !important;
        // border-radius: 5px;
        border-bottom: 1px solid white;
    }
    .navbar-brand:hover {
        border: 0px solid white !important;
    }
    border-bottom: 2px solid white;
    .btn-danger {
        font-weight: bold;
        background-color: #BE1F19;
        transition: background-color 0.5s;
    }
    .btn-danger:hover {
        background-color: #A41815;
    }
}