html,
body {
    background-color: #006EBE;
    min-height: 100vh;
}

body {
    background:  linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('../assets/images/pokemon_font.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}