.card {
    display: inline-block;
    width: 270px;
    padding: 1em;
    border-radius: 15px;
    margin: 10px;
    // background: #ddd;
    background: #ffc107;
    text-align: left;
    text-transform: capitalize;
    &__caption {
        background-color: rgba(#ffffff, 0.65);
        padding: 1em;
        position: relative;
        border-radius: 0 0 3px 3px;
    }
    &__image-container {
        background-color: rgba(#000000, 0.7);
        text-align: center;
        padding: 1em 1em 0;
        border-radius: 3px 3px 0 0;
    }
    &__type {
        position: absolute;
        top: 0;
        right: 1em;
        transform: translateY(-50%);
        color: #ffffff;
        letter-spacing: 0.1em;
        padding: 0.25em;
        line-height: 1;
        border-radius: 2px;
        background: #bbbbbb;
    }
    &__label {
        font-size: 10px;
        text-transform: uppercase;
        font-weight: 400;
        display: block;
        margin-bottom: 3px;
    }
    &__name {
        text-align: center;
        font-size: 1.6em;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-transform: uppercase;
    }
    &__abilities {
        display: flex;
        justify-content: space-between;
    }
    &__ability {
        margin-top: 0.5em;
        // margin-top: 1em;
        flex: 1 0;
    }
    box-shadow: 0px 5px 20px -10px #111111;
    &--normal {
        background: linear-gradient(45deg, #ffc107 0%, #ffc107 40%, #6d6d4e 100%);
        .card__type {
            background-color: #c6c6a7;
        }
    }
    position: relative;
    transition: 0.4s;
    &:hover {
        z-index: 5;
        box-shadow: 0px 13px 30px -15px #000000;
        // transform: translateY(-10px);
        transform: scale(1.1);
    }
}

.imagePokemon {
    width: 100px;
}