<div class="form-group mb-3">
    <label>Nom du dresseur</label>
    <div class="input-group input-group-alternative">
        <input [(ngModel)]="pseudo" class="form-control" type="name" placeholder="Nom" type="text" />
    </div>
</div>
<div>
    <button class="btn btn-primary btn-lg btn-block my-4" (click)="getUser()">
      Se Connecter
    </button>
</div>